{% extends "layout.html" %}
{% block content %}
<h1>Game Page</h1>

<p>You can view the stats of players in the two teams in a game. Choose a game.</p>
<h3>Game</h3>
<form action="/game" method="POST">
    <select name="game">
        <option value="">Select Game</option>
        <option value="game1">Game 1</option>
        <option value="game2">Game 2</option>
        <option value="game3">Game 3</option>
        <option value="game4">Game 4</option>
        <option value="game5">Game 5</option>
        <option value="game6">Game 6</option>
    </select>

    <button>View</button>
</form>

<table style="width:100%">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team</th>
      <th>Stat Type</th>
      <th>Stat Value</th>
    </tr>
    {% for team in teams %}
    <tr>
        {% for row in team %}
            <td>{{row}}</td>
        {% endfor %}
    </tr>
    {% endfor %}  
</table>

<!--
<ol>
    <p>You can view the stats of players in the two teams in a game. Choose a game.</p>
    <h3>Game</h3>
    <form action="/game" method="POST">
        <select name="game">
            <option value="">Select Game</option>
            <option value="game1">Game 1</option>
            <option value="game2">Game 2</option>
            <option value="game3">Game 3</option>
            <option value="game4">Game 4</option>
            <option value="game5">Game 5</option>
            <option value="game6">Game 6</option>
        </select>

        <button>View</button>
    </form>

    {% for team in teams %}
       {% for row in team %}
            <li>{{row}}</li>
       {% endfor %}
    {% endfor %}
</ol>
-->
{% endblock content %}