{% extends "layout.html" %}
{% block content %}
<h1>Game Page</h1>

<p>You can view the stats of players in the two teams in a game. Choose a game.</p>
<h3>Game</h3>
<form action="/game_stats" method="POST">
    <select name="game">
        <option value="">Select Game</option>
        <option value="game1">Game 1</option>
        <option value="game2">Game 2</option>
        <option value="game3">Game 3</option>
        <option value="game4">Game 4</option>
        <option value="game5">Game 5</option>
        <option value="game6">Game 6</option>
    </select>

    <button>View</button>
</form>

{% for result in gameResult %}
    <p>{{result}}</p>
{% endfor %}
 

<h2>Home Team</h2>
<table style="width:100%">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team</th>
      <th>Pts</th>
      <th>Reb</th>
      <th>Ast</th>
    </tr>
    {% for player in homeTeam %}
    <tr>
        {% for row in player %}
            <td>{{row}}</td>
        {% endfor %}
    </tr>
    {% endfor %}  
</table>

<h2>Away Team</h2>
<table style="width:100%">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team</th>
      <th>Pts</th>
      <th>Reb</th>
      <th>Ast</th>
    </tr> 

    {% for player in awayTeam %}
    <tr>
        {% for row in player %}
            <td>{{row}}</td>
        {% endfor %}
    </tr>
    {% endfor %} 
</table>
{% endblock content %}